@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "../sass/colors";

.dondeCuando {
  background-color: $fairyTale;
  padding: 2em 1em;

  h3 {
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    text-align: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: $white;
    border-radius: 8px;
    padding: 2em 1em;
    text-align: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#acceed59 1.6px, #ffffff 1.6px);
    background-size: 35px 35px;

    .map {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #0000008e;
      min-height: calc(400vh - 600px);
      padding: 87em 1em 0 1em;
      z-index: 100;

      .popup {
        opacity: 0;
      }

      .map__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        background-color: $white;
        padding: 1em;
        border-radius: 8px;

        iframe {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          border-radius: 8px;
        }

        .map__footer {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 1em;

          .info {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin: 0;

            span {
              font-weight: 600;
              margin: 0;
            }

            p {
              font-weight: 300;
            }
          }

          hr {
            width: 100%;
            border: .5px solid #00000011;
          }

          button {
            color: #000;
            text-decoration: none;
            border: 1px solid #000;
            padding: .8em 2em;
            border-radius: 4px;
            font-weight: 500;
            letter-spacing: 1px;
            background-color: transparent;
            font-size: .9rem;

            &:hover {
              background-color: $fairyTale;
            }
          }
        }
      }
    }

    .title {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0;
    }

    .lugar {
      font-size: 1.4rem;
      margin: 0;
      font-family: 'Pacifico', cursive;
    }


    .info {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin: 0;

      span {
        font-weight: 600;
        margin: 0;
      }

      p {
        font-weight: 300;
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
      text-align: center;

      a {
        color: #000;
        text-decoration: none;
        border: 1px solid #0000009e;
        padding: .8em 0;
        border-radius: 4px;
        font-weight: 400;
        background-color: $fairyTale;

        &:hover {
          background-color: $uranianBlue;
          transition: all .2s ease;
        }
      }
    }
  }
}

// query width 375
@media (max-width: 500px) {
  .dondeCuando {
    .main {
      .map {
        .popup {
          margin-bottom: 6em;
        }

        iframe {
          height: 500px;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .dondeCuando {
    .main {
      .map {
        .popup {
          margin-bottom: 4.5em;
        }

        iframe {
          height: 500px;
        }
      }
    }
  }
}

@media (max-width: 393px) {
  .dondeCuando {
    .main {
      .map {
        .popup {
          margin-bottom: 3.3em;
        }

        iframe {
          height: 500px;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .dondeCuando {
    .main {
      .map {
        .popup {
          margin-bottom: 3em;
        }

        iframe {
          height: 500px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .dondeCuando {
    .main {
      .map {
        .popup {
          margin-bottom: 3.3em;
        }

        iframe {
          height: 300px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .dondeCuando {
    .main {
      .map {
        .popup {
          margin-bottom: 5em;
        }

        iframe {
          height: 300px;
        }
      }
    }
  }
}